[Unit]
Description=kanshi - dynamic output configuration

[Service]
Type=simple
Restart=always
ExecStart=/bin/kanshi

[Install]
WantedBy=default.target
