/*

!.config/
.config/*


!.config/systemd/
!.config/picom.conf
!.config/sway/
!.config/waybar/
!.config/fontconfig/
!.config/ranger/
/* .config/ranger/* */
/* !.config/ranger/rc.conf */
/* !.config/ranger/rifle.conf */
/* !.config/ranger/scope.sh */
!.config/swappy/
!.config/alacritty/
!.config/dunst/

!.config/rofi

!.vim
.vim/*
!.vim/coc-settings.json

!.initsrc/

!.gitconfig
!.gitignore
!.bashrc
!.bash_profile
!.tmux.conf
!.vimrc
!.README
!.notags
